* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

body {
  color: var(--theme-text-primary);
  background-color: var(--theme-background-page);

  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0 40px;

    &__menu {
      width: 100%;
      display: flex;
      max-width: 1360px;
      margin: 0 auto;
      
      justify-content: space-between;
      align-items: center;

      &__logo {
        width: 100px;
        height: 60px;
      }

      &__navigation {
        display: flex;
        gap: 40px;

        &__list {
          list-style: none;
          display: flex;
          gap: 40px;
          justify-content: center;
          align-items: center;

          &__item {
            &__link {
              position: relative;
              color: var(--theme-text-primary);
              text-decoration: none;

              &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: -8px;
                height: 1px;
                background-color: currentColor;

                transform: scaleX(0);
                transition: transform 0.3s ease;
              }

              @media (hover: hover) {
                &:hover::after {
                  transform: scaleX(1);
                }
              }
            }
          }
        }
      }

      &__theme-toggle {
        position: relative;
        display: flex;
        width: 88px;
        height: 44px;
        border: 1px solid var(--theme-border-primary);
        border-radius: 21px;
        align-items: center;
        cursor: pointer;

        &__input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        &__slider {
          position: absolute;
          cursor: pointer;
          border-radius: 22px;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          -webkit-transition: .4s;
          transition: .4s;

          &:before {
            position: absolute;
            content: "";
            height: 36px;
            width: 36px;
            left: 3px;
            bottom: 3px;
            border-radius: 50%;
            background-color: var(--theme-text-accent);
            -webkit-transition: .4s;
            transition: .4s;
          }
        }

        &__input:checked + &__slider:before {
          -webkit-transform: translateX(44px);
          -ms-transform: translateX(44px);
          transform: translateX(44px);
        }

        &__toggle-icons {
          width: 100%;
          position: absolute;
          display: flex;
          z-index: 2;
          justify-content: center;
          gap: 10px;

          &__moon-container,
          &__sun-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            border-radius: 50%;

            &__sun,
            &__moon {
              width: 22px;
              height: 22px;
              
            }
          }
        }
      }
    }
  }
}

@media (hover: hover) {
  .header__container__menu__theme-toggle:hover
    .header__container__menu__theme-toggle__input:checked
    ~ .header__container__menu__theme-toggle__toggle-icons
    .header__container__menu__theme-toggle__toggle-icons__sun-container {
      background-color: var(--theme-toggle-hover);
  }

  .header__container__menu__theme-toggle:hover
    .header__container__menu__theme-toggle__input:not(:checked)
    ~ .header__container__menu__theme-toggle__toggle-icons
    .header__container__menu__theme-toggle__toggle-icons__moon-container {
      background-color: var(--theme-toggle-hover);
  }
}
